<section>
  <div class="header">
    <a href="https://www.maxxhaul.com/" target="_blank"><img src="imgs/MaxxhaulLogo.png" alt="Maxxhaul Logo" class="logo"></a>
    <p class="slogan">Manufacturer and Distributor of Towing and Truck Accessories</p>
  </div>
</section>
